<link rel="stylesheet" href="/static/css/login-form.css">
<!--
  Some people will disagree with putting stylesheet links in the html body, insisting that they belong in the html head.
  That's because the old html standards used to require them to only be in the head.
  The current standard allows them to be in the body. Some people will probably still disagree.
  See: https://html.spec.whatwg.org/multipage/links.html#body-ok
-->

<div class="login-form">
  <h2>Login</h2>

  <form action="" method="POST">
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" autofocus>
    </div>

    <div class="password">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
  </form>
</div>
